/*header*/
#bgRosa {
	background-color: ;
	width:100%;
	height: 300px;
	position: absolute;
	z-index: -1;
}
#circulo {
	background-image: url("../img_ref/circulo.png");
}
* {
	font-family: 'Questrial', sans-serif;
}
#punto, #nombre {
	margin-top: 12%;
} 
#punto, .puntoSkills {
	font-family: 'Source Code Pro', monospace; 
}
.rojo {
	color: #FF4F58;
}
#nombre {
	font-size: 12em;
}
#cv, .estudios {
	font-size: 1.5em;
}
#cv {
	margin-bottom: 10%;
}
.estudios {
	margin: 0% 0% 25% 39.5%;
}
#menuPack {
	/*margin: 1% 0% 0% 74.5%;*/
}
.textDecorationNone, .menu {
	text-decoration: none;
}
.negro {
	color: black !important;	
}
.menu, .menu2 {
	display: inline;
	list-style-type: none;
}
.menu {	
	margin: 0% -3%;
}
.menu2 {
	display: inline;
	list-style-type: none;
	margin: 0% -1%;	
}
/*sobre mí*/
.subTit {
	font-size: 6em;
	font-weight: 700;
}
.text {
	font-size: 1.2em;
}
.gris {
	color: #ababab;
}
.fotos, .colorHover {
	width: 80%;
}
.fotos, .fotoYo, .colorHover {
	height: 280px;
}
.fotoYo {
	margin-top: -16%;
	float: right;
	width: 50%;	
}
.bgGris {
	background-color: #f4f4f4;
	width: 100%;
}
.subTit2 {
	margin-left: 7%;
}
.marginTop5 {
	margin-top: 5%;
}
.skills {
	margin-bottom: 3.5%;
}
.block {
	display: block;
}
#metoImg {
	width: 60%;
	margin-bottom: 5%;
}
/*proyectos*/
#img1Proyectos {
	background-image: url("../img_ref/ojo.jpg");
}
#img2Proyectos {
	background-image: url("../img_ref/ojo.jpg");
}
#img3Proyectos {
	background-image: url("../img_ref/proto.jpg");
}
#img4Proyectos {
	background-image: url("../img_ref/kerenta.jpg");
}
#img5Proyectos {
	background-image: url("../img_ref/zlup.jpg");
}
#img6Proyectos {
	background-image: url("../img_ref/ogilvy.jpg");
}
.colorHover {
	background-color: rgba(255,255,255,0.7);
	overflow: hidden;
	width: 113%;
	margin-left: -6%;
	opacity: 0;
}
div #img1Proyectos:hover div.colorHover,
div #img2Proyectos:hover div.colorHover,
div #img3Proyectos:hover div.colorHover,
div #img4Proyectos:hover div.colorHover,
div #img5Proyectos:hover div.colorHover,
div #img6Proyectos:hover div.colorHover{
	opacity: 1;
}
.textProyectos {
	margin-top: 45%;
}
.modalStyle {
	z-index: 1;
	position: fixed; 
	width: 100%;
	height: 100%; 
	top: 0; 
	left: 0;
	border: #333333 3px solid; 
	background-color: pink; 
	color: #000000; 
	display:none;
}
/*pruebas movimiento
.circulo {
	width: 10%;
	position: relative;
	top: 50%;
	left: 50%;
	-webkit-animation: spin 4s linear alternate infinite;
	-moz-animation: spin 4s linear alternate infinite;	
}
@-moz-keyframes spin { 100% {-moz-transform:rotate(360deg);}}
@-webkit-keyframes spin { 100% {-webkit-transform:rotate(360deg);}}
@keyframes spin {100% {-webkit-transform:rotate(360deg);}}
 finpruebas movimiento*/
#fondoTotal .nieve { 
position: absolute; 
top: 0; left: 0; 
width: 6vmin; 
height: 6vmin;
border-radius: 100%; 
border: solid #ffa3a7 1.5px;
}
